html {    
  padding: 0;
  margin: 0;
}

body {
  background-color: #2E3440;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the page takes up at least the full viewport height */
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  background-color: #2E3440;
  color: white;
  height: 50px;
  align-items: center;
  padding: 20px 100px 40px 100px;
}

.navbar-item {
  text-decoration: none;
  color: #ECEFF4;
  transition: background-color 0.3s;
  margin-right: auto;
  padding: 10px 20px;
}

.navbar-item a:hover {
  background-color: blue;
}

.nav-logo {
  margin-right: auto;
}

.nav-logo img{
  height: 174px;
  width: 174px;
  padding-top: 100px;
  margin-left: auto;

}

.main {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  border: 3px solid;
  border-radius: 10px;
  padding: 5rem;
  margin: 5rem;
  background-color: #81A1C1;

}

.main-heading {
  flex-basis: 400px;
  order: 1;
  padding-left: 100px;
  margin-top: 100px;
  margin-right: 50px;
  line-height: 1.2;
  gap: 5px;
}


h1 {
  font-size: 50px;
  font-weight: bold;
  color: #F9FAF8;
  margin: 0;
  font-family: 'Roboto', arial;
  text-shadow: 5px 5px black;

}

.main p {
  color: #000000;
  line-height: 1.2;
  text-shadow: #000000;
}

.main button {
  display: block;
  text-align: center;
  width: 110px;
  border: solid 0.5px;
  background: #88c0d0;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-family: 'Roboto', arial;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 9px #af5f5f;
  color: #2E3440;
  font-style: bold;
  
}

.main button::after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 5%;
  padding-left: 20%;
  margin-left: 20px !important;
  margin-top: 10%;
  opacity: 0;
  transition: all 0.8s
}

.main button:active {
  background-color: #d08770;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.main-image {
  margin-left: 10px;
  order: 2;
}

.main-image img {
  height: 500px;
  width: 800px;
  border: solid 2.5px;
  border-color: #e2cf94;
  border-radius: 5px;
  box-shadow: 10px 10px #4c566a;

}

.cards {
  padding: 50px;
  margin: 5rem;
  background-color: #81A1C1;
  border: solid 3px;
  border-radius: 10px;

  
}

.card-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.card-heading h1 {
  text-shadow: 2px 5px black;
}

.card-images {
  display: grid;
  grid-template-columns: 30rem 23rem;
  grid-template-rows: 40rem 30rem;
  margin: 5px;
  padding: 50px;
}

.card-images img {
  width: 300px;
  border: 5px solid #8fbcbb;
  margin: 25px;
  border-radius: 5px;
  box-shadow: 10px 8px #2E3440;
}

.card-images p {
  margin-left: 135px;
  color: #F9FAF8;
}



.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
  border-radius: 10px;
  background-color: #4C566A;
  margin: 1rem;
  padding: 1rem;

}

.gameBtns img {
  height: 10rem;
  width: 10rem;
  
}
/* CSS */
.gameBtns button {
border: 3px solid #222222;
border-radius: 8px;
box-sizing: border-box;
color: #222222;
cursor: pointer;
display: inline-block;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20px;
margin: 4px 4px;
outline: none;
padding: 13px 23px;
position: relative;
text-align: center;
text-decoration: none;
touch-action: manipulation;
transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
user-select: none;
-webkit-user-select: none;
width: auto;
}

.gameBtns button:focus-visible {
box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
transition: box-shadow .2s;
}

.gameBtns button:active {
background-color: #F7F7F7;
border-color: #000000;
transform: scale(.96);
}

.gameBtns button:disabled {
border-color: #DDDDDD;
color: #DDDDDD;
cursor: not-allowed;
opacity: 1;
}


.rockBtn {
  background-color: #A3BE8C;
}

.paperBtn {
  background-color: #88C0D0;
}

.scissorBtn {
  background-color: #D08770;
}



.quote-container {
  display: flex;
  justify-content: center;
  color: #F9FAF8;
  font-size: 36px;
  font-weight: extra-bold #1F2937;

}

.quote-content {
  padding: 50px;
  gap: 4cm;
  margin: 30px;
  
}

.quote-content h1 {
  font-style: italic;
}

.quote-content p {
  text-align: right;
}

.signup-container {
  display: flex;
  justify-content: center;
  background-color: #4c566a;
  padding: 80px;

}

.signup-content {
  display: flex;
  justify-content: center;
  gap: 4cm;
  border: 5px solid #8fbcbb;
  border-radius: 15px;
  padding: 20px;
  background-color: #8fbcbb;
  box-shadow: 10px 8px #2E3440;
}

.signup-content button {
  display: block;
  text-align: center;
  width: 110px;
  border: solid 0.5px;
  background: #88c0d0;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-family: 'Roboto', arial;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 9px #af5f5f;
  color: #2E3440;
  font-style: bold;
  
}

.signup-content button::after {
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 5%;
  padding-left: 20%;
  margin-left: 10px !important;
  margin-top: 10%;
  opacity: 0;
  transition: all 0.8s
}

.signup-content button:active {
  background-color: #d08770;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.footer-container {
  display: flex;
  justify-content: center;
  color: #F9FAF8;
  

}
